#app, .grid, .game-columns, .column-labels, .game-board {
  display: flex;
}

.game-columns {
  flex-flow: column nowrap;
}

.sea {
  width: 2rem;
  height: 2rem;
  background-color: lightblue;
  border: 0.0625rem solid mediumblue
}