#app, .grid, .game-columns, .row-label, .column-labels, .column-label, .game-board {
  display: flex;
}

.row-label, .column-label {
  justify-content: center;
  align-items: center;
}

.game-columns {
  flex-flow: column nowrap;
}

.row-labels {
  margin-top: 2rem;
}

.row-label, .column-label, .sea, .ship {
  width: 2rem;
  height: 2rem;
}

.grid {
  border: 0.125rem solid mediumblue
}
.sea {
  background-color: lightblue;
  border: 0.0625rem solid mediumblue
}

.ship {
  background-color: grey;
}